
<!DOCTYPE html>
<html>
<header>
<title>PlutoShe</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- <% include ../deps/includeJs.ejs %> -->
</header>
<body>
<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'showDebt')">债务清单</button>
  <button class="tablinks" onclick="openCity(event, 'addDebt')">加债务</button>
</div>

<div id="showDebt" class="tabcontent" style="display:none">
  <h3>债务清单</h3>

<p>统计数据<br>
	Jim: <%- debtlist.sum[0];%><br>
	Anglela: <%- debtlist.sum[1];%><br>
	Pluto: <%- debtlist.sum[2];%><br></p>
  <table style="width:50%" border="1">
  	<tr>
  		<th style="text-align:left">Jim</th>
  		<th style="text-align:left">Anglela</th>
  		<th style="text-align:left">Pluto</th>
  		<th style="text-align:left">说明</th>
  	</tr>
  <% for (var i = debtlist.datalist.length - 1; i >= 0; i--) { %>
	<tr>
    	<td><%- debtlist.datalist[i].value[0];%></th>
    	<td><%- debtlist.datalist[i].value[1];%></th>
    	<td><%- debtlist.datalist[i].value[2];%></th>
    	<td><%- debtlist.datalist[i].comment;%></th>
  	</tr>
  <% } %>

  </table>
</div>

<div id="addDebt" class="tabcontent" style="display:display">
  <h3>加债务</h3>
  <form id="addDebtForm" action="#" method="post" target="_blank">

    <p>付款金额</p> 
    <input type="text" name="loanAmount">
    <br>
    <label>进账人：</label>
    <input type="radio" name="lend" value="0" checked>Jim
    <input type="radio" name="lend" value="1" checked>Anglela
    <input type="radio" name="lend" value="2" checked>Pluto
    
    <br>
    <label>出账人：</label>
	<input type="checkbox" name="borrow" value="0"/>Jim
	<input type="checkbox" name="borrow" value="1"/>Anglela
	<input type="checkbox" name="borrow" value="2"/>Pluto
	<br>
	<p>说明</p> 
    <input type="text" name="comment" size="50">
    <br>
    <% for (var i = 0; i < comment_option.length; i++) { %>
    	<input type="radio" name="commentOption" onClick="" value="<%= comment_option[i] %>" >
    	<%= comment_option[i] %>
    	
  	<% }%>
  		<input type="radio" name="commentOption" onClick="" value="" checked>其他</input>
    	
	<!-- <input type="submit" value="Submit"onclick="aaa()"> -->
  </form> 
  <button id="提交" onClick="">提交</button>
  
</div>


<script>
  
	
	function setComment() {
		//console.log($("input[name=  commentOption]"));
		//console.log($("input[name='commentOption']"));
		console.log($('input[name=comment]'));
		//$('input[name=comment]').val("1");
		$("input[name=commentOption]").click(function() {
		//	alert(this.value);

			$('input[name=comment]').val(this.value);
		});
	}

	function init() {
    $("#提交").click(function(){
      $.ajax({
         type: "POST",
         url: "debt/data",
         data: $("#addDebtForm").serialize(), // serializes the form's elements.
         success: function(data)
         {
             // alert("ok"); // show response from the php script.
             location.reload();
         },
         failed: function(data) {
          // alert("no");
         }
       }); 
    });
		setComment();
		// alert("!!!");
	}
	$("document").ready(init());


	function openCity(evt, cityName) {
	  var i, tabcontent, tablinks;
	  tabcontent = document.getElementsByClassName("tabcontent");
	  for (i = 0; i < tabcontent.length; i++) {
	    tabcontent[i].style.display = "none";
	  }
	  tablinks = document.getElementsByClassName("tablinks");
	  for (i = 0; i < tablinks.length; i++) {
	    tablinks[i].className = tablinks[i].className.replace(" active", "");
	  }
	  document.getElementById(cityName).style.display = "block";
	  evt.currentTarget.className += " active";
	}
</script>
  

</body>
</html>

